<form action="http://www.onlinedengi.ru/wmpaycheck.php" method="post">
<input type="hidden" name="project" value="508">
<input type="hidden" name="source" value="skipfish">
<input type="hidden" name="order_id" value=""><br>
<input type="hidden" name="nickname" value="<%=current_user.id%>">  
Сумма к оплате, в валюте платёжной системы: <input type="text" name="amount" value=""><br>
Способ оплаты: <select name="mode_type">
<option value="2">WebMoney</option>
<option value="7">Yandex деньги</option>
<option value="8">Банковские карты</option>
<option value="9">WebMoney WME</option>
<option value="10">Карты Webmoney</option>
<option value="14">QIWI Кошелек</option>
<option value="39">Мобильный Платеж Мегафон</option>
<option value="45">Мобильный Платеж Билайн</option>
<option value="46">Альфа-Банк</option>
<option value="48">ВТБ24</option>
<option value="50">Мобильный Платеж МТС</option>
<br>
</select>
<input type="submit" value="Оплатить!">
</form>