<form action="http://www.onlinedengi.ru/wmpaycheck.php" method="post">
<input type="hidden" name="project" value="">
<input type="hidden" name="source" value="">
<input type="hidden" name="order_id" value="">
Ваш ник: <input type="text" name="nickname" value="">
Сумма к оплате, в валюте платёжной системы: <input type="text" name="amount" value="">
Способ оплаты: <select name="mode_type">
<option value="4">WebMoney WMB</option>
<option value="3">WebMoney WME</option>
<option value="8">Банковские карты</option>

</select>
<input type="submit" value="Оплатить!">
</form>