<div class="mainContent" id="form">
	<div class="pageInfo">
<% if @site.new_record? or @site.ready_to_check?%>
<%= form.label :url %>
<%= form.text_field :url %><br>
<%end%>
<br><%= form.label :'Тип проверки:' %>
 <%= form.select :slovar, [["Нормальная","minimal"], ["Тщательная","medium"], ["Очень тщательная", "complete"]]%>
</div>
 </div>
