<h1>Edit site</h1>

<% form_for @site do |f| %>
  <%= @site.errors.full_messages.first%>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", account_path %>