<div class="mainContent">
	<h3>Редактировать сайт:</h3>
<ol>
<% form_for @site do |f| %>
  <%= @site.errors.full_messages.first%>
  <%= render :partial => "form", :object => f %>
  <input type="submit" id="addSite" value="Сохранить" class="button"/>
  <% end %> 
  </ol>


</div>