<ul>
<% for site in @sites do %>
<li> <%=site.url%> 
	<%= link_to 'Show site', site_path(:id=>site.id)%>
	<% unless site.testing?%> <%= link_to 'Edit', edit_site_path(:id=>site.id)%><%end%>
<%= link_to "Delete site", { :action => "destroy", :id => site.id },
          :confirm => "Are you sure?", :method => :delete %>


</li>
<%end%>
</ul>

